:root {
  --color-00: #fafdff;
  --color-01: #8db2db;
  --color-02: #3876bf;
  --color-03: #000910;
  --color-10: #dba466;
  --color-11: #ac8355;
  --color-12: #664929;
  --color-13: #332514;
  --color-20: #fafdff10;
  --color-21: #8db2db10;
  --color-22: #3876bf10;
  --color-23: #00091010;
  --color-30: #dba46610;
  --color-31: #ac835510;
  --color-32: #66492910;
  --color-33: #33251410;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Inter-Thin.woff2") format("woff2"),
    url("/fonts/Inter-Thin.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/Inter-ThinItalic.woff2") format("woff2"),
    url("/fonts/Inter-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Inter-ExtraLight.woff2") format("woff2"),
    url("/fonts/Inter-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/Inter-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/Inter-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Inter-Light.woff2") format("woff2"),
    url("/fonts/Inter-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/Inter-LightItalic.woff2") format("woff2"),
    url("/fonts/Inter-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Inter-Italic.woff2") format("woff2"),
    url("/fonts/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Inter-Medium.woff2") format("woff2"),
    url("/fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Inter-MediumItalic.woff2") format("woff2"),
    url("/fonts/Inter-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Inter-Bold.woff2") format("woff2"),
    url("/fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Inter-BoldItalic.woff2") format("woff2"),
    url("/fonts/Inter-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("/fonts/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/Inter-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Inter-Black.woff2") format("woff2"),
    url("/fonts/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/Inter-BlackItalic.woff2") format("woff2"),
    url("/fonts/Inter-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/FiraCode-Regular.woff2") format("woff2"),
    url("/fonts/FiraCode-Regular.woff") format("woff");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/FiraCode-Medium.woff2") format("woff2"),
    url("/fonts/FiraCode-Medium.woff") format("woff");
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-00: var(--color-00);
    --theme-01: var(--color-01);
    --theme-02: var(--color-02);
    --theme-03: var(--color-03);
    --theme-10: var(--color-10);
    --theme-11: var(--color-11);
    --theme-12: var(--color-12);
    --theme-13: var(--color-13);
    --theme-20: var(--color-20);
    --theme-21: var(--color-21);
    --theme-22: var(--color-22);
    --theme-23: var(--color-23);
    --theme-30: var(--color-30);
    --theme-31: var(--color-31);
    --theme-32: var(--color-32);
    --theme-33: var(--color-33);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-00: var(--color-03);
    --theme-01: var(--color-02);
    --theme-02: var(--color-01);
    --theme-03: var(--color-00);
    --theme-10: var(--color-13);
    --theme-11: var(--color-12);
    --theme-12: var(--color-11);
    --theme-13: var(--color-10);
    --theme-20: var(--color-23);
    --theme-21: var(--color-22);
    --theme-22: var(--color-21);
    --theme-23: var(--color-20);
    --theme-30: var(--color-33);
    --theme-31: var(--color-32);
    --theme-32: var(--color-31);
    --theme-33: var(--color-30);
  }
}

.light-mode {
  --theme-00: var(--color-00);
  --theme-01: var(--color-01);
  --theme-02: var(--color-02);
  --theme-03: var(--color-03);
  --theme-10: var(--color-10);
  --theme-11: var(--color-11);
  --theme-12: var(--color-12);
  --theme-13: var(--color-13);
  --theme-20: var(--color-20);
  --theme-21: var(--color-21);
  --theme-22: var(--color-22);
  --theme-23: var(--color-23);
  --theme-30: var(--color-30);
  --theme-31: var(--color-31);
  --theme-32: var(--color-32);
  --theme-33: var(--color-33);
}

.dark-mode {
  --theme-00: var(--color-03);
  --theme-01: var(--color-02);
  --theme-02: var(--color-01);
  --theme-03: var(--color-00);
  --theme-10: var(--color-13);
  --theme-11: var(--color-12);
  --theme-12: var(--color-11);
  --theme-13: var(--color-10);
  --theme-20: var(--color-23);
  --theme-21: var(--color-22);
  --theme-22: var(--color-21);
  --theme-23: var(--color-20);
  --theme-30: var(--color-33);
  --theme-31: var(--color-32);
  --theme-32: var(--color-31);
  --theme-33: var(--color-30);
}

.light-mode #theme-switcher .sun {
  display: none;
}

.dark-mode #theme-switcher .moon {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--theme-00);
  color: var(--theme-03);
  margin: 0;
  font-size: 18px;
  letter-spacing: -0.014em;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
}

img {
  content-visibility: auto;
  width: 100%;
  height: auto;
}

svg {
  fill: var(--theme-02);
}

h1 {
  color: var(--theme-13);
}

h2 {
  color: var(--theme-03);
}

h3 {
  color: var(--theme-03);
}

h1 {
  font-size: 30px;
  letter-spacing: -0.021em;
  line-height: 42px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 24px;
  letter-spacing: -0.019em;
  line-height: 34px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  letter-spacing: -0.017em;
  line-height: 28px;
  font-weight: 500;
}

code {
  font-family: "Fira Code", monospace;
  color: var(--theme-03);
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.7;
}

p code {
  background: var(--theme-21);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

pre {
  width: 100%;
  overflow: auto;
  padding: 1.5em;
  box-sizing: border-box;
  background: var(--theme-21);
  border-radius: 1rem;
  line-height: 1;
  letter-spacing: normal;
}

.light-mode pre {
  background: var(--theme-21);
}

.dark-mode pre {
  background: var(--theme-22);
}

pre code {
  color: var(--theme-03);
}

.string,
.class-name,
.boolean,
.comment {
  color: var(--theme-02);
}

.function,
.macro {
  color: var(--theme-13);
}

.keyword,
.constant {
  color: var(--theme-12);
}

.highlight-line {
  position: relative;
  text-decoration: none;
  width: auto;
  height: 1.7em;
  display: inline-block;
}

.highlight-line-add {
  background: rgba(0, 255, 0, 0.15);
}

.highlight-line-remove {
  background: rgba(255, 0, 0, 0.15);
}

.highlight-line::before {
  position: absolute;
  left: -1.7em;
  width: 1.7em;
  text-align: center;
  color: var(--theme-03);
}

.highlight-line-add::before {
  content: "+";
  background: rgba(0, 255, 0, 0.3);
}

.highlight-line-remove::before {
  content: "-";
  background: rgba(255, 0, 0, 0.3);
}

main {
  margin: 0 auto;
  padding: 1em;
  max-width: 100ch;
}

article > :not(pre) {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem; /* aprox. 60ch */
  display: block;
}

blockquote {
  border-left: 0.5em solid var(--theme-01);
  margin: 0;
  padding: 0 1.5em;
  color: var(--theme-02);
}

hr {
  border: 1px solid var(--theme-01);
}

header {
  padding: 1em;
  line-height: normal;
}

header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

header ul li {
  margin-left: 1em;
}

a {
  color: var(--theme-02);
  font-weight: 500;
}

a:hover {
  color: var(--theme-01);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: currentColor;
  font-weight: inherit;
}

footer {
  display: flex;
  padding: 0 1em;
  padding-top: 2rem;
  justify-content: center;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  width: 60ch;
  position: relative;
  border-top: 1px solid var(--theme-02);
}

footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer section {
  margin: 1rem 2rem 2rem 0;
}

data {
  font-size: 0.9em;
  color: var(--theme-03);
}

#theme-switcher {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 2em 0;
  padding: 0.75em;
}

#theme-switcher svg {
  fill: none;
  stroke: var(--theme-03);
}

.post-list {
  padding: 0;
  margin: 0 auto;
  flex-grow: 1;
}

.post-list li {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.post-list data {
  flex-shrink: 0;
  margin-left: 1em;
}

.post-section {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 1em auto;
}

.post-section h2 {
  width: 4ch;
  margin: 0;
  margin-right: 1em;
}

script {
  display: none !important;
}

@media screen and (max-width: 100ch) {
  article ul {
    padding-left: 1rem;
  }
}
